div{padding: 15px;}
h1,h2,h3{
  margin: 15px;
}
h4,p{
  margin: 5px;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 60;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 60;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 40;
    flex-basis:150px;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 20;
  flex-basis:150px;
}
body {
  font-family: 'roboto', sans-serif;
  font-style: italic;
}
.title {
  justify-content: center;
}
.nav {
    height: 50px;
    background-color: lightgrey;
  }
.inline-block {
    display: inline-block;
    padding: 15px;
  }
.left {
    display: inline-block;
    background-color: aliceblue;
    width:17%;
    vertical-align: top;
  }
.top {
    height:20%;
    background-image: linear-gradient(to left, white,#D6DBDF);
    vertical-align: top;
}
.mid {
    height:10%;
    background-image: linear-gradient(to bottom, white,#D6DBDF);
    vertical-align: top;
}
.bottom{
    height:69%;
    background-image: linear-gradient(to bottom, white,#D6DBDF);
    vertical-align: bottom;
}
.right {
    display: inline-block;
    background-image:linear-gradient(to right, grey,#D6DBDF);
    width:79%;
    padding: 1%;
    vertical-align: top;
  }
.floatleft { 
    float: left;
    padding-right:15px;}

.floatright {
    float: right;
    padding-left: 15px;
}

.separator {
    width: 750px;
}   
.clearfix {
    overflow: auto;
  }
.container {
    display:flex;
  }
.box1 { background-image:linear-gradient(to bottom,  #f4f4f4,white);}
.box2 { background-image:linear-gradient(to bottom,  #f4f4f4,white);}
.box1 {
    /*flex:10 5 400px;*/ /* Proper shorthand */
    height: 400px;
    flex-grow: 5;
    flex-shrink: 5;
    flex-basis: 400px;
    margin: 10px;
    padding: 10px;
  }
  
.box2 {
    /*flex:1 1 400px;*/ /* Proper shorthand */
    height: 400px;
    flex-grow: 5;
    flex-basis: 400px;
    margin: 10px;
    padding: 10px;
  }

.flexItem {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    width: 250px;
  }
.flexItem2 {
    background-color: purple;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 450px;
  }
.flexContainer {
    display: flex;
    margin: 10px;
    padding: 10px;
  }
.overflex {
  color: #f4f4f4;
  padding: 10px;
}
  /*
  The properties above are just used to display your flex container.
  
  We have already set the parent container of the sections to flex.
  
  It is highly recommended to try out these commands in chromes web inspector to see what your code does in real time
  
  @TODO Read the documentation on the following properties if you want more info or get stuck
  - align-item Documentation - https://www.w3schools.com/cssref/css3_pr_align-items.asp
  - justify-content documentation - https://www.w3schools.com/cssref/css3_pr_justify-content.asp
  */
.alignItems {
    align-items: flex-start;
    /*
    - under this comment type out the css property justify-content.
    - Try out the following properties of align-items
    - center
    - flex-end
    - flex-start
    */
  
  }
.justifyContent {
    justify-content:space-between;
  /*
  - under this comment type out the css property justify-content.
  - Try out the following properties of justify-Content
  - center
  - flex-end
  - flex-start
  - space-between
  - space-around
  - space-evenly
  */
  
  }
.perfectlyCentered {
    align-items:center;
    justify-content: center;
  /*
  - Under this comment type out the css property of justify-content: center;
  - Then type out the css property align-items: center;
  - Reload the browser and see for yourslef that your item is perfectly centered!
  */
  
  }
.facebox{
    width:100%;
    height: 100px;
    background-image:linear-gradient(to right, darkred,white);
    border: 1px solid lightgray;
  }
.absolute {
    position: absolute;
    top: 0;
    left: 45%;
    height: 150px;
    width: 150px;
    color: white;
}
.bio, .bio h1, .bio h2, .bio h3, .bio p{
  text-align: center;
}
.flexspace{
  flex-basis:150px;
}
.grid {
  display: grid;
  grid-template-rows:1fr 1fr;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-areas:
  "grid1 grid2 grid3 grid4"
  "footer footer footer footer"
  ;
}
.header {
 grid-area: header;
}

.grid1 {
 grid-area: grid1;
}
.grid2{
 grid-area: grid2;
}
.grid3{
  grid-area: grid3;
 }
.grid4{
  grid-area: grid4;
 }
.footer {
 grid-area: footer;
}
.heroImg {
 grid-area: heroImg;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content {
  background-color: #f4f4f4;
  border: 1px solid lightgray;
  margin:5px;
}
.gridChild {
  background-color:  #f4f4f4;
  border: 1px solid lightgray;
  min-height: 250px;
}
.spacing {
  margin:25px 0px;
}


@media only screen and (max-width: 720px) {
  .heroImg {
   grid-template-columns: none;
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-areas:
    "grid1 grid2 grid3 grid4"
    "footer"
    ;
  }
}